<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>
			Доброго времени суток, <%= @user.username %>!
		</p>
		<p>
			Вы запросили восстановление пароля.
			Для продолжения, перейдите по ссылке: <a href="<%= @url %>"><%= @url %></a>
		</p>
		<p>
			С уважением, bassneck.
		</p>
	</body>
</html>