= link_to request.portal.short_name, request,
			class: ['label', 'request-badge', (yields_points?(request) ? 'request-badge--colored' : 'request-badge--grayscale')],
			style: "background-color:##{request.portal.color}", target: "_blank"
