= link_to request.portal.short_name, request,
			:class => "label request #{request.awards_points(current_user) ? "" : "voted" }",
			:style => "background-color:##{request.portal.color}", :target => "_blank"