- @title = "О проекте"

%h2 Правила
%p
	Как у любого сообщества, у FGR есть ряд правил.
	%ul
		%li
			Во-первых, сервис основан на принципе взаимовыручки. Если вы хотите, чтобы за ваши игры голосовали, голосуйте за другие игры.
			Для мотивации пользователей была разработана система рейтинга. За каждый отданный голос вы получаете 1 балл. За каждую добавленную ссылку вы теряете 10 баллов.
			Если ваш рейтинг опустится ниже определенного уровня, вы не сможете добавлять игры, пока не поднимете его.
		%li
			Во-вторых, настоятельно не рекомендуется добавлять старые игры. Рейтинг-группа эффективна в первые 2 дня. После этого, оценки камрадов теряются в общей массе голосов.
			По этой причине голосование за игры, добавленные больше 2х дней назад не увеличивает рейтинг.