- @title = "Новые игры"
- @games.group_by(&:updated_at_date).each do |date, games|
	.date
		- if date == Date.today
			Сегодня
		- elsif date == Date.today - 1
			Вчера
		- else
			= date.strftime("%d.%m.%y")

	%ul
		= render games
