- @title = "Добавить игру"
.alert.alert-block.alert-info
	%p
		%strong Не добавляйте в рейтинг-группу старые игры - рейтинг-группа эффективна в первые дни после загрузки игры на портал.
		%br	А если добавили, не удивляйтесь, если за вашу следующую игру проголосует меньше людей.
	%p
		PS. Не забывайте голосовать за #{link_to "игры камрадов", root_url}!

= render 'form'