/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

$textColor: #404040;

$navbarBackgroundHighlight: #274B54;
$navbarBackground: darken($navbarBackgroundHighlight, 10%);
$navbarBorder: darken($navbarBackground, 12%);

$navbarText: #BFBFBF;
$navbarLinkColor: $navbarText;
$navbarLinkColorHover: #FFF;

$navbarBrandColor: #FFF;

@import 'bootstrap';
@import 'compass';
@import 'layout';
@import 'games';

.brand:hover {
	background: rgba(#fff, 0.05)
}