= form_tag password_resets_path, class: 'form-horizontal', method: :post do
	%fieldset
		%legend Забыли пароль?
		.control-group
			%label.control-label Логин
			.controls
				.input
					= text_field_tag :username
		.form-actions
			= submit_tag 'Восстановить пароль', class: 'btn'